.App {
  text-align: center;
}

.button{
  background-color: rgb(185, 117, 68);
  border-radius: 7px;
  margin: 0 10px;
  color:rgb(24,19,13);
  font-family: monospace;
}


.secc{
  font-size: 20px;
  color: rgb(24, 19, 13);
}

.time{
  font-size: 17px;
  color:rgb(24,19,13);
}
.pic{
  margin-top: 20px;
}

.sec{
  font-size: 17px;
  color: rgb(223, 200, 171);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
